.add-customer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 1vh;
    background-color: #f0f0f0;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.container {
    background-color: #a2cbb8;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%;
    text-align: center;
}

/* Add other CSS styles for your form as needed */

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 20px;
    }

    .registration-topic {
        font-size: 20px;
    }
    
table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 20px;
}

.input-group {
    margin: 10px 0;
}
}